{{ define "main" }}
<section class="hero">
  <div class="hero-left">
    <div class="hero-tag">NHẬT DUY //</div>

    <h1 class="hero-title">
      WORK HARD<br />
      IN SILENCE<br />
      LET SUCCESS<br />
      MAKE NOISE
    </h1>

    <p class="hero-sub">
      Blog lập trình mạng • Portfolio • Chứng chỉ
    </p>

    <div class="hero-actions">
      <a class="btn-primary" href="/blog/">Xem bài viết</a>
      <a class="btn-outline" href="/profile/">Xem Profile</a>
    </div>
  </div>

  <div class="hero-right">
    <img class="hero-img" src="/images/profile/duy.jpg" alt="Nhật Duy" />
  </div>
</section>
{{ end }}
